################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Multi_Signal_Visualizer/v17/.suo
/.vs/slnx.sqlite
/.vs
/__pycache__
.vs/slnx.sqlite
